$color-primary: #970303;
$color-text: #fff;
$font-primary: "Play", sans-serif;
$linear-amd: linear-gradient(to right, rgba(255, 0, 0, 0.774), rgba(175, 79, 79, 0.877));
$linear-nvidia-intel: linear-gradient(to right, rgb(45, 219, 1), rgb(33, 139, 200));
$linear-alternate: linear-gradient(to right, rgb(255, 0, 212), rgba(255, 0, 221, 0.431));

@mixin svg {
    height: 7rem;
    width: 7rem;

    @media only screen and (max-width: 1100px) {
        height: 9rem;
        width: 10rem;
    }
}

@mixin button {
    cursor: pointer;
    padding: 1.3rem 3rem;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    border-radius: 0.5rem;
    border: 2px solid black;
    background: $color-primary;
    transition: 0.2s;
    outline: none;

    &:active {
        padding: 1.6rem 3.5rem;
        border: 2px solid white;
    }

    &:hover {
        color: white;
    }
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;

    @media only screen and (max-width: 1100px) {
        font-size: 50%;
    }
    @media only screen and (max-width: 550px) {
        font-size: 39%;
    }
}

body {
    font-family: $font-primary;
    color: $color-text;
    background: url(../img/background.png);
    background-size: 250px;
    background-repeat: repeat;
    line-height: 1.6;
    display: grid;
    overflow-x: hidden;
    grid-template-columns: [left-start] 7vw [left-end content-start] repeat(7, [col-start] 1fr [col-end]) [content-end sidebar-start] 7vw [sidebar-end];
    grid-template-rows: [header-start] 100vh [header-end] auto;

    @media only screen and (max-width: 1100px) {
        grid-template-columns: [left-start] 10vw [left-end content-start] repeat(7, [col-start] 1fr [col-end]) [content-end sidebar-start] 10vw [sidebar-end];
    }
    @media only screen and (max-width: 550px) {
        background-size: 500px;
    }
}

.section {
    transition: transform 1s;
}
.section--hidden {
    opacity: 0;
    transform: translateY(200px);
}
