.header {
   grid-column: content-start / content-end;
   grid-row: header-start / header-end;

   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

   &__text {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items:flex-start;
       padding: 5rem; 

       @media only screen and (max-width: 550px) {
            padding: 0;
            justify-content: flex-start;
    }

       &-logo {
           display: flex;
           letter-spacing: 1.2rem;

           @media only screen and (max-width: 550px) {
            margin-bottom: 10vh;
    }

           &-1 {
               color: $color-primary;
               font-size: 8rem;
               font-weight: 200;
           }
           &-2 {
            font-size: 4rem;
            align-self: flex-end;
            margin-bottom: 1.9rem;
            font-weight: 200;
            
           }
           &-svg {
               @include svg;
               align-self: center;
               margin-top: 3rem;

               @media only screen and (max-width: 550px) {
               display: none;
            }
           }
       }
       &-title {
           padding-bottom: 50vh;
           padding-top: 10vh;
           margin: 0 1.5rem;
           
       @media only screen and (max-width: 550px) {
        padding-top: 0;
        display: grid;
        justify-items: center;
        text-align: center;
}

           &-up {
            font-size: 2.6rem;
            font-weight: 200;
            letter-spacing: .5rem;
           }
           &-down {
                font-size: 3.5rem;
                font-weight: bold;
                letter-spacing: 1.2rem;

                @media only screen and (max-width: 1100px) {
                    font-size: 4rem;
                    font-weight: lighter;
                    margin: 3rem 0;
                    letter-spacing: .8rem;
                }
           }
           &-line {
               width: 90%;
               height: .3rem;
               background: $color-primary;
               margin-top: 1rem;
               box-shadow: 0 0 .8rem $color-primary;
           }
           &-button {
               @include button;
               width: fit-content;
               margin-top: 7rem;
               display: none;

               @media only screen and (max-width: 550px) {
                display: block;
                font-size: 3rem;
            }
           }

           &-arrow {
            display: none;
            height: 400px;
            width: 20px;
            
            @media only screen and (max-width: 550px) {
             display: inline-block;
             font-size: 3rem;
             
            }
    }

    &-direction {
        font-size: 4rem;
        letter-spacing: .3rem;
        font-weight: lighter;
        margin: 5rem 0;
        display:none;

        @media only screen and (max-width: 550px) {
            display: inline-block;
           }

    }
       }
   }

   &__image {

    @media only screen and (max-width: 1100px) {
        display: none;
    }
       &-img {
           width: 100%;
           height: 100vh;
       }   
}

}


.sidebar {
    grid-column: sidebar-start / sidebar-end;
    grid-row: header-start / header-end;
    

    &__burger {
        display: none;
       @include svg;
        cursor:pointer;
        margin-top: 4rem;
        margin-left: 1.5rem;

        @media only screen and (max-width: 1100px) {
            height: 6rem;
            width: 6rem;
            display: grid;
        }
        @media only screen and (max-width: 550px) {
            height: 6rem;
            width: 6rem;
            margin: 4rem 0 0 0;
            display: grid;
        }
}

&__wide {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media only screen and (max-width: 1100px) {
            display: none;
        }

        &-item {
            list-style: none;
            font-size: 3rem;
            margin: 10rem 0;
            transform: rotate(90deg);
        }

        .sidebar__link {
            text-decoration: none;
            color: $color-primary;
            letter-spacing: .2rem;
            font-weight: bold;
            cursor: pointer;
            transition: .2s;
            &:hover {
                text-shadow: 2px 2px 10px $color-primary;
        }
    }
        
}

&__open {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 40vw;
    background-image: url("/img/background.png");
    background-size: 250px;
    display: none;

    @media only screen and (max-width: 800px) {
        width: 100vw;
       }
    
    &-close-btn {
        position: relative;
        float: right;
        width: 6rem;
        height: 6rem;
        padding: 4rem;
        cursor: pointer;
    }

    .sidebar__items {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;

        .sidebar__item {
            list-style: none;
            font-size: 4rem;
            letter-spacing: .5rem;
            text-align: center;
            
            & a {
                text-decoration: none;
            color: white;
            line-height: 20rem;
            cursor: pointer;
            transition: .2s;
            &:hover {
                text-shadow: 2px 2px 10px white;
            }
            }

            &-arrow {
                display: none;
                width: 15px;
                margin: auto;

                @media only screen and (max-width: 550px) {
                    display: inline-block;
                   }
            }
        }
    }
}
}