

.intro {
    grid-column: content-start / content-end;
    display: flex;
    margin: 15rem 0;
    text-align: center;
    flex-direction: column;

    
   @media only screen and (max-width: 550px) {
    margin: 0;
   }

    &__text {
        letter-spacing: .4rem;
        &-main {
            font-size: 2.8rem;
            font-weight: lighter;
        }
        &-sub {
            margin-top: 5rem;
            font-size: 2.2rem;
            font-weight: lighter;
            
        }
    }
    &__line {
        align-self: center;
        width: 50%;
        height: .3rem;
        background: $color-primary;
        margin-top: 5rem;
        box-shadow: 0 0 .8rem $color-primary;
    }

}

.parts {
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    // grid-template-rows: 1fr 1fr;
    // grid-gap: 4rem;
    // grid-row-gap: 20rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20rem 0;
}

.part {
    margin: 4rem 6rem;
    width: 25%;

    @media only screen and (max-width: 930px) {
        width: 40%;
    }
   
    
    &__svg {
        @include svg();

            @media only screen and (max-width: 550px) {
                height: 12rem;
                width: 12rem;
            }
    }

    &__name {
        font-size: 2.8rem;
        margin: 1.5rem 0;
    }

    &__description {
        font-size: 1.8rem;
        letter-spacing: .2rem;
    }
    
}

.outro__line {
    align-self: center;
    width: 50%;
    height: .3rem;
    background: $color-primary;
    margin-top: 5rem;
    box-shadow: 0 0 .8rem $color-primary;
}

.additional-title {
    font-size: 3.5rem;
    letter-spacing: .3rem;
    margin-top: 5rem;
}
.additional-parts {
//    display: grid;
//    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
//    grid-column-gap: 10rem;
//    grid-row-gap: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 13rem 0;
}

.add {
    width: 40%;
    padding: 3rem;

    &__svg {
        @include svg;
        margin-left: 2rem;

        @media only screen and (max-width: 1100px) {
            margin-left: 3.5rem;
        }
    }

    &__name {
        font-size: 2rem;
        margin: 1.5rem 0;
    }

    &__description {
        font-size: 1.5rem;
        letter-spacing: .2rem;
    }
}

.advantages--title {
    font-size: 3.5rem;
    letter-spacing: .3rem;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.advantages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;

    &--description {
        font-size: 2.2rem;
        display: none;
        margin: 5rem 0;
        width: 65%;


        &-active {
            display: block;
        }

        &-line {
            margin-top: 3rem;
            height: 2.5px;
            width: 90%;
            display: none;

            &-1 {
                background: $linear-amd
            }
            &-2 {
                background: $linear-nvidia-intel
            }
            &-3 {
                background: $linear-alternate
        }
            &--active {
               display: block;
        }
    }
    }
}

.adv-buttons {

    &--btn {
            @include button;
            margin: 0 1rem;
            border-radius: 2rem;
            transition: .5s;

            &:active {
                padding: 1.3rem 3rem;
            }
        }
        
        &--1 {
            background: $linear-amd;
        }
        &--2 {
            background: $linear-nvidia-intel;
        }
        &--3 {
            background: $linear-alternate;
        }
        
        &--active {
            transform: translateY(-10px);
        }
    }

